<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Nro {{ survey.id }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div class="jumbotron text-center">
    <h1> Respuestas por Usuarios </h1>
</div>
<table class="table">
    <tr>
    <th>User</th>
    <th>Pregunta</th>
    <th>Respuesta o Alternativa</th>
    <th>Puntaje</th>
    </tr>
    {% for answer in answers %}
        <tr>
            {% if not answer.alternative %}
                <td>{{ answer.user }}</td>
                <td>{{ answer.question.question }}</td>
                <td>{{ answer.answer }}</td>
                <td>--</td>
            {% endif %}
            {% if answer.alternative and not answer.order_alternative %}
                <td>{{ answer.user }}</td>
                <td>{{ answer.question.question }}</td>
                <td>{{ answer.alternative }}</td>
                <td>--</td>
            {% endif %}
            {% if answer.alternative and answer.order_alternative %}
                <td>{{ answer.user }}</td>
                <td>{{ answer.question.question }}</td>
                <td>{{ answer.alternative }}</td>
                <td>{{ answer.order_alternative }}</td>
            {% endif %}
        </tr>
    {% endfor %}

</table>

</body>
</html>