<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encuestas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron text-center">
    <h1> Encuestas </h1>
</div>
<ul>

    {% for survey in surveys %}

        <li><a href="{% url "detail-survey" survey.pk %}"><h3> {{ survey.name }} &nbsp;&nbsp;&nbsp;&nbsp; {{ survey.date }} </h3> </a> <a type="button" href="{% url 'answer-survey' survey.id %}" class="btn btn-primary">Ver Respuestas</a> </li>

    {% endfor %}

</ul>

</body>
</html>