<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle Encuesta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="jumbotron text-center">
    <h1> Detalle Encuesta </h1>
    <h3> {{ survey.name }} - {{ survey.date }}</h3>
    <h3> {{ survey.description }} </h3>
</div>

<div id="accordion">
    {% for question in questions %}
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#{{ question.id }}" aria-expanded="true" aria-controls="{{ question.id }}">
                        Pregunta: {{ question.question }}
                    </button>
                </h5>
            </div>

            <div id="{{question.id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    {% if question.get_alternativas %}
                        <ul>
                            {% for alternativa in question.get_alternativas %}
                                <li>
                                    {{ alternativa.alternative }}
                                </li>
                            {% endfor %}

                        </ul>
                    {% else %}
                        Respuesta libre
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

</body>
</html>